body{
    background: #050831;
}
.row{
    margin-top: 10px !important;
}
.gp1{
    height: 200px;
    //background: #0d8595 !important;
    padding: 5px;
}
img {
    height: auto;
    max-width: 50%;
    max-height: 90%;
}
.inside_div{
    font-size: 20px;
    background: #ffe536;
    height: 200px;
    border-radius: 10px;
    width: 100%;
    filter: grayscale(80%);
    line-height: 200px;
}
.inside_div:hover{
    filter: grayscale(0%);
    font-size: 50px;
}
.long .inside_div{
    height: 410px;
    line-height: 410px;
}

.container{
    max-width: 95% !important;
}

#second_row{
    justify-content: end;
}

#third_row{
    justify-content: start;
}
#forth_row{
    justify-content: end;
}
#fifth_row{
    justify-content: start;
}
#sixth_row{
    justify-content: end;
}
#seventh_row{
    justify-content: end;
}
#eight_row{
    justify-content: start;
}
#ninth_row{
    justify-content: start;
}
#tenth_row{
    justify-content: end;
}
#eleventh_row{
    justify-content: start;
    margin-bottom: 20px;
}